/* registerplans-styles */
/* select-plans-styles */
.editPlansFormTitle{
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 22px;
    font-weight: 600;
    color: #E54161 !important;   
}

.registerPlansForm{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif !important;
}

.cadastrarPlano {
    background-color: #e54161 !important;
    color: #fff;
    border: 3px solid #e54161 !important;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 120%;
    margin-top: 2%;
}

.cadastrarPlano:hover {
    color: #e54161 !important;
    background-color: #fff !important;
}

.registerPlansFormTitle{
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 22px;
    font-weight: 600;
    color: #E54161 !important;
}

.editPlansForm{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif !important;
}

.atualizarPlano {
    background-color: #e54161 !important;
    color: #fff;
    border: 3px solid #e54161 !important;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 120%;
    margin-top: 3%;
}

.atualizarPlano:hover {
    color: #e54161 !important;
    background-color: #fff !important;
}

.selectPlansTitle{
    padding-top: 4%;
    padding-bottom: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 40px;
    font-weight: 600;
    color: #E54161!important;
    text-align: center;
    
}

.plansBoxes{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

.boxPlano{
    margin-top: 2%;
    width: 24%;
    height: 30vh;
    text-align: center;
    background: rgba(107, 107, 107, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.box-plano-titulo{
    color: #E54161!important;
    font-size: 22px;
}

.box-plano-text{
    width: 100%;
    color: rgba(22, 22, 22, 0.9);
}

.selectPlansForm{
    width: 30vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif !important;
    margin-bottom: 2px;
    
}

.actionSelectPlans{
    margin-bottom: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.selecionarPlano{
    border: none;
    background-color: rgba(107, 107, 107, 0);
    color: #E54161!important;
    text-decoration: none;
    font-size: 140%;
}

.selecionarPlano:hover{
    color: white!important;
    text-decoration: none;
}

.navegacaoSelecionarPlano {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.navegacaoSelecionarPlano input:hover{
    color: #e54161!important;
    background-color: #fff!important;
}

.cancelarPlano {
    background-color: #e54161 !important;
    color: #fff;
    border: 3px solid #e54161 !important;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 120%;
    margin-top: 2%;
}

@media screen and (max-width: 600px){
    .editPlansFormTitle{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .editPlansForm{
        width: 80%;
    }

    .registerPlansFormTitle{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .registerPlansForm{
        width: 80%;
    }
    .plansBoxes{
        width: 98vw;
    }
    .boxPlano{
        width: 75%;
        height: 30vh;
    }
    .plansForm{
        width: 80vw;
    }

    .navegacao{
        padding-top: 1vh;
    }
}